astroid==3.2.4
bcrypt==4.1.3
blinker==1.9.0
click==8.2.2
dill==0.4.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
flask-talisman==1.1.0
gunicorn==23.0.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==3.19.0
marshmallow-sqlalchemy==1.0.0
mccabe==0.7.0
packaging==25.0
platformdirs==4.3.8
pylint==3.2.5
python-dotenv==1.0.1
SQLAlchemy==2.0.42
tomlkit==0.13.3
typing_extensions==4.14.1
Werkzeug==3.1.3
